.app-overall {
    /* font-family: 'Courier New', monospace; */
    /* background: #001100; */
    padding: 20px;
}

.app-current-time {
    padding: 20px;
    font-size: 25px;
    color: DarkGray;
}

.app-title {
    padding: 20px;
    font-size: 24px;
    color: DarkGray;
}

.neb {
    padding: 20px;
    font-size: 24px;
    color: DarkGray;
}
.qty {
    padding: 20px;
    font-size: 24px;
    color: DarkGray;
}
.target {
    padding: 20px;
    font-size: 24px;
    color: DarkGray;
}

.cycles-to-new-pt {
    padding: 20px;
    font-size: 25px;
    color: DarkseaGreen;
}

.accounts-info {
    padding: 20px;
    font-size: 24px;
    color: Gray;
}



.max-negative-profit-allowed {
    padding: 20px;
    font-size: 24px;
    color: DarkGray;
}

.header-image {
    width: 100%;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}


/* ********** session & global info ********** */

.scorpius-card {
    border-radius: 30px;
}

.card-header {
    font-size: 50px;
    /* color: DarkSeaGreen ;*/
    color: Gold;
    border-radius: 30px;

}


.card-header-session {
    color: LightSeaGreen;
    font-size: 40px;
    text-align: left;
}

.card-header-global {
    /* color: DarkSeaGreen ;*/
    color: GoldenRod;
    font-size: 40px;
    text-align: left;
}

.card-title {
    font-size: 25px;
    color: DarkGray;
}

.session-count {
    color: LightSeaGreen;
    font-size: 40px;
    text-align: center;
}

/* the vertical alignment is set in dash_layout in dbc.Col() with align='center' */
.session-cycle-count {
    font-size: 30px;
    text-align: right;
    color: LightSeaGreen;
}

.global-cycle-count {
    font-size: 30px;
    text-align: right;
    color: GoldenRod;
}

.session-info-subtitle {
    font-size: 25px;
    text-align: center;
    color: DarkGray;
}

.session-info-subtitle-2 {
    font-size: 25px;
    text-align: center;
    color: DarkGray;
}

.session-info-subtitle-3 {
    font-size: 25px;
    text-align: center;
    color: SteelBlue;
}

.session-info-subtitle-4 {
    font-size: 25px;
    text-align: center;
    color: DarkCyan;
}

.global-info-subtitle-2 {
    font-size: 25px;
    text-align: center;
    color: DarkGray;
}


.global-info-subtitle-3 {
    font-size: 25px;
    text-align: center;
    color: DarkGray;
}


.pt-info {
    font-size: 30px;
    font-style: italic;
    text-align: center;
    color: Gray;
}

.pt-info-1 {
    font-size: 40px;
    text-align: center;
    color: LightSeaGreen;
}

.pt-info-buy {
    font-size: 30px;
    font-style: italic;
    text-align: center;
    color: #5ca385;
}

.pt-info-sell {
    font-size: 30px;
    font-style: italic;
    text-align: center;
    color: #ab5454;  /* Salmon */
}

.order-info {
    font-size: 40px;
    text-align: center;
    color: GoldenRod;  /* Teal */
}

.order-info-1 {
    font-size: 40px;
    text-align: center;
    color: GoldenRod;
}


.session-info {
    font-size: 30px;
    text-align:right;
    color: DarkSeaGreen;
}



/* ********** symbol and balance cards********** */

.liquidity-card {
    border-radius: 20px;
}

.symbol-card {
    border-radius: 20px;
}

.liquidity-card-title {
    font-size: 35px;
    color: DarkSeaGreen;
}
.symbol-card-title {
    font-size: 35px;
    color: #80cc4c;
}

.symbol-cmp {
    font-size: 32px;
    text-align: right;
    color: #80cc4c;
}

.cmp-min {
    font-size: 30px;
    color: SlateGray;
    text-align: right;
}

.cmp-max {
    font-size: 30px;
    color: SlateGray;
    text-align: right;
}


.locked {
    font-size: 30px;
    color: DarkGray;
    text-align: right;
}

.free {
    font-size: 32px;
    color: DarkSeaGreen;
    text-align: right;
}

/* ********** session info ********** */

.alert-msg {
    font-size: 30px;
    color: FireBrick;
    text-align: center;
}

/* profit info */
.card-main-title {
    font-size: 35px;
}

.balance-chart {
    /* align: center; */
}

/* ********** orders table ********** */
/*
th, td, tr {
  border: none;
}
*/

table {
    /* border-collapse: collapse; */
}

th {
  /* background-color: #04AA6D; */
  color: grey;
  text-align: center;
  border: none;
}

tr {
    font-size: 30px;
    /* border-upper: none; */
}

tr.buy-order {
    color: #008000;
}

tr.sell-order {
    color: #f25e43;
}

tr.buy-to-be-traded {
    color: #196619;
}

tr.sell-to-be-traded {
    color: #bf4a35;
}

tr.cmp-order {
    color: DarkGray;
    background-color: #262626;
}

td {
    text-align: center;
}


/* ********** buttons ********** */
.sc-button {
    font-size: 25px;
    margin: 10px;
    height: 100px;
    opacity: 0.6;
    border-radius: 8px;
    /* transition-duration: 0.4s; */
}

/*
.sc-button:hover {
  background-color: Green;
  color: white;
}
*/




