.app-overall {
    /* background-color: #111111;
    opacity: 0.9; */
    /* background-color: #272b30; */
}

.app-header {
    height: 100px;
    line-height: 100px;
    border-bottom: thin orange solid;
}

.app-header .app-header--title {
    font-size: 100px;
    padding-left: 5px;
}

.symbol-title {
    font-size: 25px;
    /* color: white; */
}

.symbol-cmp {
    font-size: 40px;
    text-align: right;
    color: orange;
}


.button-group {
    width: 100%;
}

.sc-button {
    font-size: 25px;
    margin: 10px;
    height: 100px;
    /*width: 15%;*/
}

.locked {
    font-size: 30px;
    color: coral;
    text-align: right;
}

.free {
    font-size: 40px;
    color: DarkSeaGreen;
    text-align: right;
}

.pt-info {
    font-size: 40px;
    text-align: right;
}

.liquidity-card {
    /*background-color: rgba(245, 245, 245, 0.4);*/
    opacity: 0.5;
}

.session-info {
    font-size: 40px;
    text-align:right;
    color: yellow;
}

/* profit info */
.card-title {
    font-size: 25px;
}

.balance-chart {
    /* align: center; */
}


th {
  /* background-color: #04AA6D; */
  color: grey;
  text-align: center;
}

tr {
    font-size: 30px;
}

tr.buy-order {
    color: green;
}

tr.sell-order {
    color: red;
}

tr.cmp-order {
    color: orange;
}

td { text-align: center;}



