.app-overall {
    /* font-family: 'Courier New', monospace; */
    /* background: #001100; */
    padding: 20px;
}

.app-title {
    padding: 20px;
    font-size: 25px;
    text-align: right;
    color: DarkGray;
}

.header-image {
    width: 100%;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}


/* ********** session & global info ********** */

.card-header {
    font-size: 50px;
    color: DarkSeaGreen;
}

/*
.card-header-session {
    color: DarkSeaGreen;
}

.card-header-global {
    color: LightGreen;
}
*/

.pt-info {
    font-size: 40px;
    text-align: right;
    color: DarkSeaGreen;
}

.session-info {
    font-size: 40px;
    text-align:right;
    color: DarkSeaGreen;
}



/* ********** symbol and balance cards********** */

.liquidity-card {
    /*background-color: rgba(245, 245, 245, 0.4);*/
    /*opacity: 0.6;*/
    border-radius: 8px;
}

.liquidity-card-title {
    font-size: 35px;
    color: DarkSeaGreen;
}
.symbol-card-title {
    font-size: 35px;
    color: Orange;
}

.symbol-cmp {
    font-size: 35px;
    text-align: right;
    color: Orange;
}

.locked {
    font-size: 30px;
    color: DarkGray;
    text-align: right;
}

.free {
    font-size: 35px;
    color: DarkSeaGreen;
    text-align: right;
}

/* ********** session info ********** */


/* profit info */
.card-main-title {
    font-size: 35px;
}

.card-title {
    font-size: 30px;
    color: DarkGray;
}


.balance-chart {
    /* align: center; */
}

/* ********** orders table ********** */
th, td, tr {
  /* border: 2px solid yellow; */
}

table {
    border-collapse: collapse;
}

th {
  /* background-color: #04AA6D; */
  color: grey;
  text-align: center;
  border: none;
}

tr {
    font-size: 40px;
    /* border-upper: none; */
}

tr.buy-order {
    color: YellowGreen;
}

tr.sell-order {
    color: OrangeRed;
}

tr.cmp-order {
    color: DarkGray;
}

td {
    text-align: center;
    border: none;
}


/* ********** buttons ********** */
.sc-button {
    font-size: 25px;
    margin: 10px;
    height: 90px;
    opacity: 0.6;
    border-radius: 8px;
    transition-duration: 0.4s;
}

/* it does not work */
.sc-button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}




