.app-overall {
    /* font-family: 'Courier New', monospace; */
    /* background: #001100; */
    padding: 30px;
}

.app-title {
    padding: 20px;
    font-size: 80px;
}


/* ********** symbol and balance cards********** */

.liquidity-card {
    /*background-color: rgba(245, 245, 245, 0.4);*/
    /*opacity: 0.6;*/
    border-radius: 4px;
}

.liquidity-card-title {
    font-size: 35px;
    color: DarkSeaGreen;
}
.symbol-card-title {
    font-size: 35px;
    color: orange;
}

.symbol-cmp {
    font-size: 35px;
    text-align: right;
    color: orange;
}

.locked {
    font-size: 30px;
    color: Tomato;
    text-align: right;
}

.free {
    font-size: 35px;
    color: DarkSeaGreen;
    text-align: right;
}

/* ********** session info ********** */

.pt-info {
    font-size: 50px;
    text-align: right;
    color: DarkSeaGreen;
}


.session-info {
    font-size: 50px;
    text-align:right;
    color: Gold;
}

/* profit info */
.card-main-title {
    font-size: 35px;
}

.card-title {
    font-size: 30px;
    color: DarkGray;
}

.card-header {
    font-size: 50px;
    color: DarkSeaGreen;
}

.balance-chart {
    /* align: center; */
}

/* ********** orders table ********** */
th, td, tr {
  /* border: 2px solid yellow; */
}

table {
    border-collapse: collapse;
}

th {
  /* background-color: #04AA6D; */
  color: grey;
  text-align: center;
  border: none;
}

tr {
    font-size: 50px;
    border-upper: none;
}

tr.buy-order {
    color: green;
}

tr.sell-order {
    color: FireBrick;
}

tr.cmp-order {
    color: Wheat;
}

td {
    text-align: center;
    border: none;
}


/* ********** buttons ********** */
.sc-button {
    font-size: 25px;
    margin: 10px;
    height: 90px;
    opacity: 0.6;
    border-radius: 8px;
    transition-duration: 0.4s;
}

/* it does not work */
.sc-button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}




